body{
   background-image: url("s.png");
    width: 100%;
      background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}
.caphover {
  border: 5px outset red;
  background-color: lightblue;    
    color: white;
  text-align: center;
    padding: 10px 10px;
    display: inline-block;
    margin-right: 15px;
}
.Star-Lord {
  border: 5px outset yellow;
  background-color: #0000ff;   
color: yellow;
  text-align: center;
    padding: 10px 10px;
    display: inline-block;
    margin-right: 15px;
}
.spidermanhover {
  border: 5px outset red;
  background-color: #000000;    
    color: white;
  text-align: center;
    padding: 10px 10px;
    display: inline-block;
    margin-right: 15px;
}
.ironmanhover {
  border: 5px outset red;
  background-color: gold;    
    color: white;
  text-align: center;
    padding: 10px 10px;
    display: inline-block;
    margin-right: 15px;
}
.hhover {
  border: 5px outset red;
  background-color: red;    
    color: white;
  text-align: center;
    padding: 10px 10px;
    display: inline-block;
    margin-right: 15px;
}
p{
  color: blue;
  background-color: goldenrod;
  font-family:fantasy
}
table{
  color: blue;
  background-color: gold;
  font-family: Arial, Helvetica, sans-serif
}
li{
  color: gold;
  background-color: blue;
font-family: monospace
}
h1{color: blue;
  background-color: red;
font-family: cursive;}
h2{color: white;
background-color: red;}
h3{
  color: red;
  background-color: blue
}