body{
   background-image: url("arm.jpg");
    height: 100%;
      background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

p{
    color: crimson;
    background-color: white;
    font-size: 20px;
    font-family: fantasy
}
h1{
    color: red;
    font-size: 35px;
    font-family: monospace;
}

h2{
    color: white;
    font-size: 30px;
    font-family: cursive;
}
h3{
    color: blue;
    font-size: 30px;
    font-family: cursive;
}
a:link{
    color: red;
    background-color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-right: 15px;
    font-family: fantasy
}
table{
    width: 100%;
    border-collapse: collapse;
    background-color: white
}
td{
    color: blue;
}
th{
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}