table{
    width: 100%;
    border-collapse: collapse;
}

tr:nth-child(odd){
    background-color: #76c0ff
}
tr:nth-child(even){
    background-color: white;
}
body{
    background-color: black;
}
a{
    color: white
}